
<mat-card class="assig-card">
  <h3 class="card-title">Datos de la Encomienda</h3>
  <mat-card-content class="content">
    <div class="encomienda-data">
      <div class="encomienda-label">Altura:</div>
    </div>
    <div class="encomienda-data">
      <div class="encomienda-label">Peso:</div>
    </div>
    <div class="encomienda-data">
      <div class="encomienda-label">Ancho:</div>
    </div>
    <div class="encomienda-data">
      <div class="encomienda-label">Longitud:</div>
    </div>
    <div class="encomienda-data">
      <div class="encomienda-label">Origen:</div>
    </div>
    <div class="encomienda-data">
      <div class="encomienda-label">Destino:</div>
    </div>
  </mat-card-content>
</mat-card>



