.assig-card {
    width: 60%;
    border-radius: 20px;
    border: 1px solid #5193da;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 10px auto; 
    max-width: 80%;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-size:large;
  }
  
.card-title {
padding: 10px;
}

.content {
    margin: 10px;
}

.img-container {
  align-items: center; /* Ajusta el ancho máximo para que se ajuste al contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente manteniendo la relación de aspecto */
}

.encomienda-data {
  margin-top: 15px; /* Añade un espacio entre los elementos */
}

.encomienda-label {
  font-weight: bold;
}

.action {
  padding: 10% 35% 20px;
  button {
    flex: 1;
    background-color: #3b94f3;
    color: #fff;
  }
  display: flex;
}
  

