
<mat-card class="assig-card">
  <h3 class="card-title">Datos de la Encomienda</h3>
    <div class="img-container">
      <img src="https://cdn-icons-png.flaticon.com/512/5826/5826985.png" style="max-width: 50%;">
    </div>
    <div class="encomienda-data">
      <div class="encomienda-label">Altura: {{ assignment?.height }} cm</div>
    </div>

    <div class="encomienda-data">
      <div class="encomienda-label">Peso: {{ assignment?.weight }} gr</div>
    </div>

    <div class="encomienda-data">
      <div class="encomienda-label">Ancho: {{ assignment?.wide }} cm</div>
    </div>

    <div class="encomienda-data">
      <div class="encomienda-label">Longitud: {{ assignment?.lenght }} cm</div>
    </div>

    <div class="encomienda-data">
      <div class="encomienda-label">Origen: {{ assignment?.origin }}</div>
    </div>

    <div class="encomienda-data">
      <div class="encomienda-label">Destino: {{ assignment?.destination }}</div>
    </div>

    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" (click)="BackToAssignmentList()">Volver <mat-icon>keyboard_backspace</mat-icon></button>
    </div>
</mat-card>



