<div class="select-container">
  <mat-form-field appearance="outline">
    <mat-label>Ingrese cantidad de pasajeros</mat-label>
    <mat-select [(value)]="selectedPassengerCount">
      <mat-option *ngFor="let passengerCount of passengerCounts" [value]="passengerCount">
        {{passengerCount}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="col-sm-16">
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>Ingresa datos del Pasajero</mat-card-title>
      <mat-card-subtitle class="mat-body-1"
        >Datos pasajero 1</mat-card-subtitle
      >
      <form #formPassenger="ngForm" (ngSubmit)="onSubmit(formPassenger)">
      <div class="row m-t-24">
        <div class="col-sm-5">
          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Nombre</mat-label
          >
          <mat-form-field
            appearance="outline"
            class="w-100"
            color="primary"
          >
            <input matInput type="text" maxlength="50" placeholder="Nombre" name="Name" #Name="ngModel" [(ngModel)]="passengerInfo.Name"/>
          </mat-form-field>

        </div>
        <div class="col-sm-8">
          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Apellido</mat-label
          >
          <mat-form-field
            appearance="outline"
            class="w-80"
            color="primary"
            style="margin-top: 10px;"
          >
          <input matInput type="text" placeholder="Apellido" name="Lastname" #Lastname="ngModel" [(ngModel)]="passengerInfo.Lastname">

            
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <!-- input -->
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Edad</mat-label
          >
          <mat-form-field
            appearance="outline"
            class="w-100"
            color="primary"
          >
            <input
              matInput
              type="text"
              maxlength="150"
              placeholder="Edad"
              name="Age" #Age="ngModel" [(ngModel)]="passengerInfo.Age"
            />
          </mat-form-field>        
        </div>
        <div class="col-sm-12">
            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
              >Direccion</mat-label
            >
            <mat-form-field
              appearance="outline"
              class="w-100"
              color="primary"
            >
              <input
                matInput
                type="text"
                maxlength="150"
                placeholder="Dirección"
                name="Adress" #Adress="ngModel" [(ngModel)]="passengerInfo.Address"
              />
            </mat-form-field>        
          </div>
          <div class="col-sm-12">
            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
              >Número de teléfono</mat-label
            >
            <mat-form-field
              appearance="outline"
              class="w-100"
              color="primary"
            >
              <input
                matInput
                type="text"
                maxlength="150"
                placeholder="Número de teléfono"
                name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="passengerInfo.PhoneNumber"
              />
            </mat-form-field>        
          </div>
          <div class="col-sm-12">
            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
              >Email</mat-label
            >
            <mat-form-field
              appearance="outline"
              class="w-100"
              color="primary"
            >
              <input
                matInput
                type="email"
                maxlength="150"
                placeholder="Email"
                name="Email" #Email="ngModel" [(ngModel)]="passengerInfo.Email"
              />
            </mat-form-field>        
          </div>
          <div class="col-sm-12">
            <!-- input -->
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
              >Número de Asiento</mat-label
            >
            <mat-form-field
              appearance="outline"
              class="w-100"
              color="primary"
            >
              <input
                matInput
                type="text"
                maxlength="150"
                placeholder="Número de Asiento"
                name="SeatNumber" #SeatNumber="ngModel" [(ngModel)]="passengerInfo.SeatNumber"
              />
            </mat-form-field>        
          </div>
      </div>
      <button type="submit" mat-flat-button color="primary" class="m-r-8">
        Pagar
      </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
