<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
    <div
      class="position-relative row w-100 h-100 bg-gredient justify-content-center"
    >
      <div class="col-lg-4 d-flex align-items-center">
        <mat-card class="cardWithShadow boxed-auth">
          <mat-card-content class="p-32">
            <div class="text-center">
              <a [routerLink]="['/dashboard']">
                <img
                  width="200" height="50" viewBox="0 0 174 26"
                  src="./assets/images/logos/zyro-image.png"
                  class="align-middle m-2"
                  alt="logo"
                />
              </a>
            </div>
              
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="m-t-30">

              <mat-form-field appearance="outline" class="w-100" color="primary">
                Password
                <input matInput type="password" formControlName="password" required />
                <mat-error *ngIf="passwordControl?.hasError('required')">
                  Password is required.
                </mat-error>
              </mat-form-field>
              
              <mat-form-field appearance="outline" class="w-100" color="primary">
                Confirm Password
                <input matInput type="password" formControlName="confirmPassword" required />
                <mat-error *ngIf="confirmPasswordControl?.hasError('required')">
                  Confirm Password is required.
                </mat-error>
                <mat-error *ngIf="passwordForm.hasError('notSame')">
                  Passwords do not match.
                </mat-error>
              </mat-form-field>
              
              <button type="submit" mat-flat-button color="primary" class="w-100">Send</button>
            </form>
            
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
