<mat-card class="cardWithShadow">
    <mat-card-content class="p-0">
      <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
        
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="d-flex align-items-center">
              <mat-icon>
                <i-tabler name="user" class="icon-20 m-r-8"></i-tabler>
              </mat-icon>
            </div>
            Editar Perfil
          </ng-template>
          <mat-card-content class="p-y-24 b-t-1">
            <div class="row">
              <div class="col-sm-5">
                <mat-card class="cardWithShadow">
                  <mat-card-content class="p-y-24">
                    <mat-card-title>Editar Perfil</mat-card-title>
                    <mat-card-subtitle class="mat-body-1"
                      >Foto de Perfil</mat-card-subtitle
                    >
                    <div class="text-center m-t-24">
                      <img
                        src="/assets/images/profile/user-1.jpg"
                        class="rounded-circle"
                        width="120"
                      />
                      <div class="m-t-24">
                        <button mat-flat-button color="primary" class="m-r-8">
                          Subir
                        </button>
                        <button mat-stroked-button color="warn">Reiniciar</button>
                      </div>
                      <span class="f-s-14 m-t-24 d-block"
                        >Formatos permitidos JPG, GIF o PNG. Peso máximo 800K</span
                      >
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="col-sm-7">
                <mat-card class="cardWithShadow">
                  <mat-card-content>
                    <mat-card-title>Datos Personales</mat-card-title>
                    <mat-card-subtitle class="mat-body-1"
                      >Cambia tus datos personales aquí</mat-card-subtitle
                    >
                    <form #formUser="ngForm" (ngSubmit)="onSubmit(formUser)">
                    <div class="row m-t-24">
                      <div class="col-sm-8">
                        <!-- input -->
                        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
                          >Nombre</mat-label
                        >
                        <mat-form-field
                          appearance="outline"
                          class="w-100"
                          color="primary"
                        >
                          <input matInput type="text" maxlength="50" placeholder="Nombre" name="name" #name="ngModel" [(ngModel)]="clientInfo.name"/>
                        </mat-form-field>

                      </div>
                      <div class="col-sm-8">
                        <!-- input -->
                        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
                          >Numero de telefono</mat-label
                        >
                        <mat-form-field
                          appearance="outline"
                          class="w-80"
                          color="primary"
                          style="margin-top: 10px;"
                        >
                        <input matInput type="text" placeholder="Teléfono" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="clientInfo.phoneNumber" (input)="limitLength($event)" (keypress)="numberOnly($event)">

                          
                        </mat-form-field>
                      </div>
                      <div class="col-sm-12">
                        <!-- input -->
                        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
                          >Direccion</mat-label
                        >
                        <mat-form-field
                          appearance="outline"
                          class="w-100"
                          color="primary"
                        >
                          <input
                            matInput
                            type="text"
                            maxlength="150"
                            placeholder="Dirección"
                            name="addres" #addres="ngModel" [(ngModel)]="clientInfo.addres"
                          />
                        </mat-form-field>        
                      </div>
                    </div>
                    <button type="submit" mat-flat-button color="primary" class="m-r-8">
                      Aplicar cambios
                    </button>
                    <span>
                      {{changeStatus}}
                    </span>
                    </form>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-tab>

       <mat-tab>
          <ng-template mat-tab-label>
            <div class="d-flex align-items-center">
              <mat-icon>
                <i-tabler name="Receipt" class="icon-20 m-r-8"></i-tabler>
              </mat-icon>
            </div>
            Facturas
          </ng-template>
          <mat-card-content class="p-y-24 b-t-1">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <table mat-table [dataSource]="dataSource" class="crud-container" style="border-radius: 20px;">

                  <!-- Define the columns -->
                  <ng-container matColumnDef="Id">
                      <th mat-header-cell *matHeaderCellDef>ID</th>
                      <td mat-cell *matCellDef="let invoices">{{ invoices.Id }}</td>
                  </ng-container>
          
                  <ng-container matColumnDef="Amount">
                      <th mat-header-cell *matHeaderCellDef>Monto</th>
                      <td mat-cell *matCellDef="let invoices">{{ invoices.Amount }}</td>
                  </ng-container>
          
                  <ng-container matColumnDef="Date">
                      <th mat-header-cell *matHeaderCellDef>Fecha</th>
                      <td mat-cell *matCellDef="let invoices">{{ invoices.Date }}</td>
                  </ng-container>
          
                  <ng-container matColumnDef="viewDetail">
                      <th mat-header-cell *matHeaderCellDef> </th>
                      <td mat-cell *matCellDef="let invoices">
                          <button mat-icon-button (click)="viewInvoiceDetail(invoices)">
                              <mat-icon>visibility</mat-icon> 
                          </button>
                      </td>
                  </ng-container>
          
                  <!-- Add the columns to the table -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
                
              </div>
            </div>
          </mat-card-content>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <div class="d-flex align-items-center">
              <mat-icon>
                <i-tabler name="lifebuoy" class="icon-20 m-r-8"></i-tabler>
              </mat-icon>
            </div>
            Soporte
          </ng-template>
        <h2 style ="padding-left: 20px;">Empleado a Cargo</h2>
          <mat-card-content class="p-y-24 b-t-1">
            <div class="row justify-content-center">
              <div class="col-lg-9 d-flex align-items-center justify-content-between">
                <img src="/assets/images/profile/user-3.jpg" class="rounded-circle" width="120"/>
                <div>
                  <p>Nombre: {{ employee.name }}</p>
                  <p>Apellido: {{ employee.lastName }}</p>
                  <p>Email: {{ employee.email }}</p>
                </div>
                <a href="/ui-components/chat-text">
                  <mat-icon style="padding-right: 200px;">
                    <i-tabler name="messages" class="icon-25"></i-tabler>
                  </mat-icon>
                </a>
              </div>
            </div>
          </mat-card-content>
        </mat-tab>