<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
    <div
      class="position-relative row w-100 h-100 bg-gredient justify-content-center"
    >
      <div class="col-lg-4 d-flex align-items-center">
        <mat-card class="cardWithShadow boxed-auth">
          <mat-card-content class="p-32">
            <div class="text-center">
              <a [routerLink]="['/dashboard']">
                <img
                  width="200" height="50" viewBox="0 0 174 26"
                  src="./assets/images/logos/zyro-image.png"
                  class="align-middle m-2"
                  alt="logo"
                />
              </a>
            </div>
              
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="m-t-30">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
                Enter your email to request a recovery code
              </mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input formControlName="email" matInput type="email" />
                <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="form.get('email')?.hasError('email')">Invalid email</mat-error>
              </mat-form-field>
              <a [routerLink]="['/']" mat-flat-button color="primary" class="w-100" (click)="onSubmit()">
                Send
              </a>
            </form>
            
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
