<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
    <div
      class="position-relative row w-100 h-100 bg-gredient justify-content-center"
    >
      <div class="col-lg-4 d-flex align-items-center">
        <mat-card class="cardWithShadow boxed-auth">
          <mat-card-content class="p-32">
            <div class="text-center">
              <a [routerLink]="['/dashboard']">
                <img
                  width="200" height="50" viewBox="0 0 174 26"
                  src="./assets/images/logos/zyro-image.png"
                  class="align-middle m-2"
                  alt="logo"
                />
              </a>
              <div
                class='titulo'><h1>Cambiar contraseña</h1></div>
            </div>
            <form class="m-t-30">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Ingresar nueva contraseña</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput />
              </mat-form-field>
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Confirmar nueva contraseña</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput />
              </mat-form-field>
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"></mat-label>
            <button type="submit" mat-flat-button color="primary" class="w-100"
            [routerLink]="['/authentication/login']">Volver</button>
            <span class="d-block f-w-500 text-center m-t-24">¿No recibiste el correo?
              <a
                [routerLink]="['/login']"
                class="text-decoration-none text-primary f-w-500 f-s-14">
                Reenviar</a>
            </span>