
<div mat-dialog-title>
    <h1>Agregar Empleado</h1>
</div>
<form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>RUT</mat-label>
                <input matInput type="text" formControlName="rut">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Apellido</mat-label>
                <input matInput type="text" formControlName="lastName">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Edad</mat-label>
                <input matInput type="number" formControlName="age">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Rol</mat-label>
                <mat-select formControlName="role">
                <mat-option *ngFor="let val of roles" [value]="val">{{val}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Puesto de Trabajo</mat-label>
                <mat-select formControlName="workPosition">
                <mat-option *ngFor="let val of workPositions" [value]="val">{{val}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>País</mat-label>
                <mat-select formControlName="country">
                <mat-option *ngFor="let val of countries" [value]="val">{{val}}
                </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Ciudad</mat-label>
                <input matInput type="text" formControlName="city">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Bonus</mat-label>
                <mat-select formControlName="bonus">
                <mat-option *ngFor="let val of bonus" [value]="val">{{val}}
                </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div>    

    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data? 'Actualizar': 'Guardar'}}</button>
    </div>
</form>
