
<div class="add-assign-container">
  <h1>Crear Encomienda</h1>
  <div class="container">
    <mat-card class="left-card">
      <h3 class="card-title">Datos Encomienda</h3>
      <mat-card-content>
        <form [formGroup]="assignmentForm" (ngSubmit)="onFormSubmit()">
          <div class="row">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Altura</mat-label>
              <input matInput type="number" maxlength="50" formControlName="height">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Peso</mat-label>
              <input matInput type="number" maxlength="50" formControlName="weight">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Ancho</mat-label>
              <input matInput type="number" maxlength="50" formControlName="wide">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Longitud</mat-label>
              <input matInput type="number" maxlength="50" formControlName="lenght">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Origen</mat-label>
              <input matInput type="text" maxlength="50" formControlName="origin">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Destino</mat-label>
              <input matInput type="text" maxlength="50" formControlName="destination">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Copia documento</mat-label>
              <input matInput type="text" maxlength="50" formControlName="isCopyDocumentEmail">
            </mat-form-field>

          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card class="right-card">
      <h3 class="card-title">Datos Receptor</h3>
      <mat-card-content>
        <form [formGroup]="assignmentForm" (ngSubmit)="onFormSubmit()">
          <div class="row" >

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Nombre </mat-label>
              <input matInput type="text" maxlength="50" formControlName.receiver="name">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Apellido </mat-label>
              <input matInput type="text" maxlength="50" formControlName.receiver="lastName">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Direccion </mat-label>
              <input matInput type="text" maxlength="50" formControlName.receiver="addres">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email </mat-label>
              <input matInput type="text" maxlength="50" formControlName.receiver="email">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Telefono </mat-label>
              <input matInput type="text" maxlength="50" formControlName.receiver="phoneNumber">
            </mat-form-field>


          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Añadir</button>
  </div>
</div>

  