<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img
                width="200" height="50" viewBox="0 0 174 26"
                src="./assets/images/logos/zyro-image.png"
                class="align-middle m-2"
                alt="logo"
              />
            </a>
          </div>
          <div class="or-border m-t-30">Enter Your Code</div>

          <form  class="m-t-30">
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Code</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary" style="width: 50px;">
              <input matInput type="password"  name="password1"  id="password1" maxlength="1" oninput="avanzarInput(this, 'password2')"  />
            </mat-form-field>
            
            <mat-form-field appearance="outline" class="w-100" color="primary" style=" width: 50px; margin:6px;">
              <input matInput type="password" maxlength="1" name="password2" id="password2" oninput="avanzarInput(this, 'password3')"/>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100" color="primary" style=" width: 50px; margin:6px;">
              <input matInput type="password" maxlength="1" name="password3" id="password3"oninput="avanzarInput(this, 'password4')"/>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100" color="primary" style=" width: 50px; margin:6px;">
              <input matInput type="password" maxlength="1" name="password4" id="password4" oninput="avanzarInput(this, 'password5')"/>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100" color="primary" style=" width: 50px; margin:6px;">
              <input matInput type="password" maxlength="1" name="password5" id="password5" oninput="avanzarInput(this, 'password6')"/>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100" color="primary" style=" width: 50px; margin:3px;">
              <input matInput type="password" maxlength="1" name="password6" id="password6"/>
            </mat-form-field>

            <button type="button" mat-flat-button onclick="concatenarNumeros()" color="primary" class="w-100">Send</button>

          </form>
          
            <script>
              function avanzarInput(inputActual, siguienteInputId) {
                  var valor = inputActual.value;
                  if (valor.length === 1) {
                      // Si se ha ingresado un valor, avanzar automáticamente al siguiente input
                      document.getElementById(siguienteInputId).focus();
                  }
              }
          </script>

          <script>
            function concatenarNumeros() {
            // Obtener los valores de los campos de entrada
            var num1 = document.getElementById("password1").value;
            var num2 = document.getElementById("password2").value;
            var num3 = document.getElementById("password3").value;
            var num4 = document.getElementById("password4").value;
            var num5 = document.getElementById("password5").value;
            var num6 = document.getElementById("password6").value;

            // Concatenar los números
            var codigoSeisDigitos = num1 + num2 + num3 + num4 + num5 + num6;

            // Mostrar el resultado en el elemento "resultado"
          alert(document.getElementById("resultado").textContent = codigoSeisDigitos);

        }
          </script>
        <div id="resultado"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
