<!-- employee.components.html -->
<div class="crud-container">
  <h1>CRUD Employees</h1>
  <div class="table-container">
    <button mat-raised-button color="primary" class="add-button">
      <mat-icon>add</mat-icon> Add Employee
    </button>
    <div class="table-scroll">
      <table mat-table [dataSource]="employees" class="mat-elevation-z8">
        <ng-container matColumnDef="rut">
          <th mat-header-cell *matHeaderCellDef>RUT</th>
          <td mat-cell *matCellDef="let employee">{{ employee.rut }}</td>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
        </ng-container>
    
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef>Country</th>
          <td mat-cell *matCellDef="let employee">{{ employee.country }}</td>
        </ng-container>
    
        <ng-container matColumnDef="workPosition">
          <th mat-header-cell *matHeaderCellDef>Work Position</th>
          <td mat-cell *matCellDef="let employee">{{ employee.workPosition }}</td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let employee">
            <button mat-icon-button color="primary" (click)="editEmployee(employee)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteEmployee(employee)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>
  </div>
</div>
