<h2 style = "margin-left: 20px;">Editar Pasajero</h2>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.passenger.Name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput [(ngModel)]="data.passenger.Lastname">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Numero de Identificación</mat-label>
    <input matInput [(ngModel)]="data.passenger.IdentityDocument">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Numero de Asiento</mat-label>
    <input matInput [(ngModel)]="data.passenger.SeatNumber">
  </mat-form-field>
  <!-- Repite los campos anteriores para otros atributos del pasajero -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onSaveClick()">Guardar</button>
</div>
