<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img
                width="200" height="50" viewBox="0 0 174 26"
                src="./assets/images/logos/zyro-image.png"
                class="align-middle m-2"
                alt="logo"
              />
            </a>
          </div>
          <div class="or-border m-t-30">Enter Your Code</div>
          <form class="m-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Code</mat-label>
            <div class="input-container" >
              <mat-form-field appearance="outline" class="w-100" color="primary" style="width: 50px;" *ngFor="let _ of [].constructor(numInputs); let i = index">
                <input 
                  matInput 
                  type="number" 
                  [name]="'digit' + (i + 1)" 
                  [id]="'digit' + (i + 1)" 
                  maxlength="1" 
                  (input)="handleInput($event, 'digit' + (i + 2), 'digit' + i)" 
                  (keydown)="handleInput($event, 'digit' + (i + 2), 'digit' + i)"
                  pattern="[0-9]*"
                />
              </mat-form-field>
            </div>
            <button 
              type="button" 
              mat-flat-button 
              id="btnConcatenate" (click)="concatenateNumbers()" 
              color="primary" 
              class="w-100"
              [disabled]="!isFormComplete()"
              >Send
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>



