<!-- assigment-crud.components.html -->

<div class="crud-container">
    <h1>Lista de Encomiendas</h1>
    <mat-form-field>
      <mat-label>Búsqueda<mat-icon>search</mat-icon></mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <div class="table-container">
      <button mat-raised-button color="primary" class="add-button" (click)="openAddForm()">
        <mat-icon>add</mat-icon> Añadir Encomienda
      </button>
      <div class="table-scroll">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
          <ng-container matColumnDef="rut">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let row"> {{row.rut}}</td>
          </ng-container>
  
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Height</th>
            <td mat-cell *matCellDef="let row"> {{row.name}}</td>
          </ng-container>
  
          <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef>Origin</th>
            <td mat-cell *matCellDef="let row"> {{row.country}}</td>
          </ng-container>
  
          <ng-container matColumnDef="workPosition">
            <th mat-header-cell *matHeaderCellDef>Destination</th>
            <td mat-cell *matCellDef="let row"> {{row.workPosition}}</td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acción</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary" (click)="openEditForm(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">  
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
  </div>
